# Telegram 配置
ADMIN_ID=
TG_TOKEN=
TG_CHANNEL_ID=
TG_WEBHOOK_SECRET=

# Mastodon 配置
MASTO_INSTANCE=
MASTO_TOKEN=

# Neon Postgres 配置
DATABASE_URL=postgresql://neondb_owner:your-password@ep-cool-darkness-123456.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
